{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Progressão de Carreira</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <script> src = "{% static 'js/jquery-3.4.1.min.js' %}"</script>
    <script> src = "{% static 'js/jbootstrap.min.js' %}"</script>
    <script> src = "{% static 'js/popper.js' %}"</script>


    <h3>Leandro Mazute</h3>
</body>

</html>